:root {
    --white: #fff;
    --primary-color: #3c2010;    
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "koodak";
    background-image: url(../images/site-bg.jpg);
    background-size: 100%;
    transition: all 300ms ease;
    /* background: rgba(19, 19, 23, 0.9); */
}
/* 

Reset styles

*/
a {
    text-decoration: none;
}
/* 

Helper class

*/
.bg-white-glass {
    background: rgba( 255, 255, 255, 0.4 );
    /* backdrop-filter: blur( 9px ); */
    -webkit-backdrop-filter: blur( 9px );
    /* border-radius: 1.7rem; */
    padding: 0.6rem;
}


/* 

App style

*/




.bg-glass {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* 

Header

*/
.header {

}
.nav {

}
.nav__logo-section {
    display: flex;
    /* justify-content: center; */
}
.app-logo {
    display: flex;
    flex-direction: column;
}
.app-logo__logo-section {
    display: flex;
    flex-direction: row;
}
.app-logo__name {
    color: var(--primary-color);
    font-size: 4.5rem;
    word-spacing: -0.5rem;
}
.app-logo__svg {
    width: 4rem;
    height: 4rem;
    margin-top: 1.1rem;
    margin-right: 0.3rem;
    fill: var(--primary-color);
}
.app-logo__subname {
    margin-top: -2rem;
    color: var(--primary-color);
    margin-right: 8rem;
    font-size: 1.9rem;

}
.mobile-menu {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right,#444444, #000000);
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 30rem;
    padding: 4rem;
    border-radius: 1rem;
    animation: 0.5s drop;
}
@keyframes drop {
    0%{
      top: -100px;
    }
    100%{
      top: 58%;
    }
  }

.mobile-menu--active {
    display: flex;
}
.mobile-menu__contact-button {
    color: var(--white);
    font-size: 4.5rem;
    margin-bottom: 0.7rem;
}
.mobile-menu__link {
    color: rgba(240, 248, 255, 0.882);
    font-size: 2.3rem;
    margin-bottom: 1rem;
    transition: all 90ms ease;
}
.mobile-menu__link:hover {
    color: var(--white);
    transform: scale(1.03);
}
.nav__hamburger-btn {
    width: 9rem;
    height: 9rem;
    border-radius: 10rem;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.nav__hamburger-btn-img {
    width: 100%;
    height: 100%;
    transition: transform 1.3s cubic-bezier(0, 0.97, 0.22, 1), opacity .5s ease;
}
.nav__hamburger-btn-line {
    font-weight: 10;
    font-size: 3.7rem;
    color: rgba(255, 255, 255, 0.907);
    position: absolute;
    bottom: 1.7rem;
    right: 2.4rem;
    transition: all 250ms ease-in-out;
}

/* 

Main

*/
.main {
    display: flex;
}
.main__head-section {
    
}
.left-head-section {
    
}
.left-head-section__head-title {
    color: var(--primary-color);
    font-size: 3rem;
    margin-top: -1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
}
.left-head-section__cafe {
    display: block;
    margin-bottom: -1.5rem;
    font-size: 4rem;
    word-spacing: -0.5rem;
}
.left-head-section__menu-btn {
    font-size: 2rem;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 0.6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 2rem;
    margin-right: 2.8rem;
    box-shadow: 1rem 0.8rem 2.5rem var(--primary-color);
}
.category-icons {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}
.category-icon {
    max-width: 17rem;
    max-height: 6rem;
    display: flex;
    flex-basis: 4rem;
}
.right-head-section {

}
.main-coffee-image {
    width: 25rem;
    height: 25rem;
}