/* 

Container

*/
.container {
    width: 86%;
    height:100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-top: 5.2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 1.15rem );
    -webkit-backdrop-filter: blur( 1.15rem );
    border-radius: 3rem;
    border: 0.1rem solid rgba( 255, 255, 255, 0.18 );  
}