@media (min-width: 576px) {
    .container {
        display: block;
    }
    .main__head-section {
        display: flex;
        flex-wrap: wrap;
        /* margin-top: 3.5rem; */
        justify-content: space-evenly;
    }
    .main {
        justify-content: space-evenly;
    }
    .nav__logo-section {
        justify-content: center;
    }
    .app-logo__subname {
        /* font-size: 2.4rem; */
        margin-right: 7rem;
    }
    .left-head-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
    .left-head-section__menu-btn {
        margin-right: 1rem;
    }
    .main-coffee-image {
        margin-left: 0rem;
    }
}
@media (min-width: 768px) {	
    .main {
        display: block;
    }
    .main__head-section {
        justify-content: space-evenly;
    }
    .main-coffee-image {
        width: 30rem;
        height: 30rem;
    }
}
@media (min-width: 992px) {
    .nav__logo-section {
        justify-content: flex-start;
    }
    .app-logo__subname {
        margin-right: 0.5rem;
        padding-top: 0.5rem;
    }
    .left-head-section__menu-btn {
        margin-left: 3rem;
        margin-right: 3rem;
    }
	.main__head-section {
        justify-content: space-around;
    }
    .main-coffee-image {
        width: 39rem;
        height: 39rem;
    }
    .left-head-section__head-title {
        font-size: 3.7rem;
    }
    .left-head-section__cafe {
        font-size: 5.5rem;
    }
}
@media (min-width: 1200px) {
	.main-coffee-image {
        width: 42rem;
        height: 42rem;
        margin-left: 10rem;
    }
    .left-head-section__head-title {
        font-size: 4.5rem;
    }
    .left-head-section__cafe {
        font-size: 6.3rem;
    }
    .left-head-section__menu-btn {
        font-size: 2.3rem;
    }
    .category-icon {
        width: 4.5rem;
        height: 4.5rem;
    }
}